<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KEI</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous">

        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=Lora'
            rel='stylesheet'>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    </head>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Lora');

    .container{
        display: flex !important;
        justify-content: center !important;
    }

    body{
        /* font-size: medium; */
    }
    .lora-font {
        font-family: 'Lora', serif; /* Fallback to serif if Lora isn't supported */
    }


        .textPrimary, .textPrimary:hover {
            color: #11467E;
            /* font-size : 14px; */
        }

        .bgPrimary{
            background-color: #11467E;
        }

</style>
    <!-- text-align: center;   -->
    <body
        style="padding-left: 5em; padding-right: 5em; padding-bottom: 10em; padding-top: 2em; margin-left: 10em;">

        <div style="padding: 0 60px">
            <div
                style="width: 70%;  border: 1px solid #dee2e6; padding: 50px 50px 20px;  margin: 5px 80px 0 90px;  border-radius: 5px;">
                <div style="text-align: center; margin: 5px 0;">
                    <img width="70" height="70" alt="KEI Logo"
                        src="https://front-dev.kei-app.com/logo-kei.png" />
                </div>

                <div style="margin-bottom: 10px; margin-top: 5em;">
                    <h5 style="margin: 0;">Bonjour <b><%= fullname %></b></h5>
                </div>
                <div style="margin-top: 10px;">
                    <p style="margin: 0;">
                        Vous avez été suspendu par l'équipe <b><%= team %></b>, vous ne pourrez plus avoir à KEI, jusqu'à ce que votre suspension soit lévée.
                    </p>
                    
                    <div style="margin: 20px 0;">
                        <p style="margin: 0;">
                            Coridialement, <br />
                            L'équipe KEI
                        </p>
                    </div>
                </div>

                <div style="margin: 10px 0; font-size: small;">
                    Si vous rencontrez des problèmes, nous serons heureux de
                    vous
                    aider. Il suffit de nous envoyer un mail à <a
                        style="color: #11467E; text-decoration: none;"
                        href="mailto:help@kei.com">help@kei.com</a> et nous
                    vous répondrons dès que possible.
                </div>

                <div
                    style="background-color: #11467E; margin-top: 10px;">
                    <div style="text-align: center; padding: 8px 0 8px 0">

                        <a href="http://www.x.com"
                            style="text-decoration: none;"
                            target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px"
                                y="0px"
                                width="20" height="20" viewBox="0,0,256,256">
                                <g fill="#ffff" fill-rule="nonzero"
                                    stroke="none"
                                    stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-miterlimit="10"
                                    stroke-dasharray stroke-dashoffset="0"
                                    font-family="none" font-weight="none"
                                    font-size="none" text-anchor="none"
                                    style="mix-blend-mode: normal"><g
                                        transform="scale(5.12,5.12)"><path
                                            d="M11,4c-3.866,0 -7,3.134 -7,7v28c0,3.866 3.134,7 7,7h28c3.866,0 7,-3.134 7,-7v-28c0,-3.866 -3.134,-7 -7,-7zM13.08594,13h7.9375l5.63672,8.00977l6.83984,-8.00977h2.5l-8.21094,9.61328l10.125,14.38672h-7.93555l-6.54102,-9.29297l-7.9375,9.29297h-2.5l9.30859,-10.89648zM16.91406,15l14.10742,20h3.06445l-14.10742,-20z"></path></g></g>
                            </svg>
                        </a>
                        <a href="http://www.linkedin.com"
                            style="text-decoration: none;" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px"
                                y="0px"
                                width="20" height="20" viewBox="0,0,256,256">
                                <g fill="#ffff" fill-rule="nonzero"
                                    stroke="none"
                                    stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-miterlimit="10"
                                    stroke-dasharray stroke-dashoffset="0"
                                    font-family="none" font-weight="none"
                                    font-size="none" text-anchor="none"
                                    style="mix-blend-mode: normal"><g
                                        transform="scale(5.12,5.12)"><path
                                            d="M41,4h-32c-2.76,0 -5,2.24 -5,5v32c0,2.76 2.24,5 5,5h32c2.76,0 5,-2.24 5,-5v-32c0,-2.76 -2.24,-5 -5,-5zM17,20v19h-6v-19zM11,14.47c0,-1.4 1.2,-2.47 3,-2.47c1.8,0 2.93,1.07 3,2.47c0,1.4 -1.12,2.53 -3,2.53c-1.8,0 -3,-1.13 -3,-2.53zM39,39h-6c0,0 0,-9.26 0,-10c0,-2 -1,-4 -3.5,-4.04h-0.08c-2.42,0 -3.42,2.06 -3.42,4.04c0,0.91 0,10 0,10h-6v-19h6v2.56c0,0 1.93,-2.56 5.81,-2.56c3.97,0 7.19,2.73 7.19,8.26z"></path></g></g>
                            </svg>
                        </a>
                        <a href="http://www.facebook.com"
                            style="text-decoration: none;" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px"
                                y="0px"
                                width="20" height="20" viewBox="0,0,256,256">
                                <g fill="#ffff" fill-rule="nonzero"
                                    stroke="none"
                                    stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter"
                                    stroke-miterlimit="10"
                                    stroke-dasharray stroke-dashoffset="0"
                                    font-family="none" font-weight="none"
                                    font-size="none" text-anchor="none"
                                    style="mix-blend-mode: normal"><g
                                        transform="scale(5.12,5.12)"><path
                                            d="M41,4h-32c-2.76,0 -5,2.24 -5,5v32c0,2.76 2.24,5 5,5h32c2.76,0 5,-2.24 5,-5v-32c0,-2.76 -2.24,-5 -5,-5zM37,19h-2c-2.14,0 -3,0.5 -3,2v3h5l-1,5h-4v15h-5v-15h-4v-5h4v-3c0,-4 2,-7 6,-7c2.9,0 4,1 4,1z"></path></g></g>
                            </svg>
                        </a>

                    </div>
                </div>

                <div style="text-align: center; margin-top: 10px;">
                    <div>
                        Copyright © 2024 KORV Estatement Inventory
                    </div>
                </div>
                <div style="text-align: center; margin-top: 10px;">
                    <div>
                        <a href="mailto:info@kei.com"
                            style="color: #11467E; text-decoration: none;">info@kei.com</a>
                        <label>|</label>
                        <a href="https://www.kei.com/"
                            style="color: #11467E; text-decoration: none;">www.kei.com</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</html>
